Package: com.panjoel.likehide
Name: likehide
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: panjoel
Author: panjoel
Section: Tweaks
Version: 0.0.1-24+debug
Installed-Size: 164
